.scatterplotDivContainer{
    height: 100%;
    width: 100%;
}

/* Brush styling */
.brush .overlay {
    cursor: crosshair;
}

.brush .selection {
    fill: #0984e3;
    fill-opacity: 0.2;
    stroke: #0984e3;
    stroke-width: 2px;
    stroke-opacity: 0.8;
}